<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
  <title> Unix Timestamp</title>  
</head>
<body>
  
  <div id="principal">
    
    <header class="header-content">
      <nav>
        <ul class="nav-ul">
          
          <li class="nav-li">
            <a class="nav-a" href="">Início</a>
          </li>
          
          <li class="nav-li">
            <a class="nav-a" href="">O que é Unix Timestamp</a>
          </li>
        
          <li class="nav-li">
            <a class="nav-a" href="">Sobre</a>
          </li>
        
        </ul>
      </nav>
    
    <div class="text-img">
      <h1>Unix Timestamp Convert</h1>
    </div>
    </header>
    
    <main class="main-content">
      
      <section class="content-section">
        <article>
          <header class="header-article">
            
            <h2>
              O que é Unix Timestamp ?
            </h2>
          <p>
            <br> O carimbo de data/hora unix é uma maneira de rastrear o tempo como um total de segundos em execução. Esta contagem começa na Época Unix em 1 de janeiro de 1970 em UTC. Portanto, o carimbo de data e hora unix é meramente o número de segundos entre uma data específica e a Época do Unix. 
            
            <br>Também deve ser ressaltado (graças aos comentários dos visitantes deste site) que este ponto no tempo tecnicamente não muda, não importa onde você esteja localizado no globo. Isso é muito útil para sistemas de computador para rastrear e classificar informações datadas em aplicativos dinâmicos e distribuídos, tanto on-line quanto no lado do cliente.
          </p>
          </header>
        </article>
      </section>
    
      <section class="content-section">
        <div class="table-div">
          <article class="article-table">
            
            <table class="table">
              <thead>
                
                <tr>
                  <th>Tempo Humano Legível</th>
                  <th>Seconds</th>
                </tr>
              
              </thead>
              
              <tbody>
                <tr>
                  <td>1 Hora</td>
                  <td>3600 Segundos</td>
                </tr>

                <tr>
                  <td>1 Dia</td>
                  <td>86400 Segundos</td>
                </tr>

                <tr>
                  <td>1 Semana</td>
                  <td>	604800 Segundos</td>
                </tr>

                <tr>
                  <td>1 Mês</td>
                  <td>2629743  Segundos</td>
                </tr>

                <tr>
                  <td>1 Ano</td>
                  <td>	31556926 Segundos</td>
                </tr>
              </tbody>
            </table>
          
          </article>
          
          <article class="article-table">
            <p>A época atual se traduz em:</p>
            
            <table class="table">
              <thead>
                
                <tr>
                  <th colspan="2">Data</th>
                </tr>
              
              </thead>
              
              <tbody>
                
                <tr>
                  <td>01/07/2023 @ 3:20pm</td>
                  <td>UTF</td>
                </tr>

                <tr>
                  <td>2023-01-07T15:20:35+00:00</td>
                  <td>ISO 8601</td>
                </tr>

                <tr>
                  <td>Sat, 07 Jan 2023 15:20:35 +0000</td>
                  <td>RFC 822, 1036, 1123, 2822</td>
                </tr>

                <tr>
                  <td>Saturday, 07-Jan-23 15:20:35 UTC</td>
                  <td>RFC 2822</td>
                </tr>

                <tr>
                  <td>2023-01-07T15:20:35+00:00</td>
                  <td>RFC 3339</td>
                </tr>
              
              </tbody>
            </table>
          </article>
        </div>
      </section>
    
      <section class="content-section">
        <h2 class="align-h2">Época Atual do Unix Timestamp</h2>
        <h3>Insira o código Timestamp</h3>
        <div class="div-time">
          <article class="article-timestamp">
            
            <form action="" method="post">
              <input type="number" min="0" name="timestamp" class="timestamp input-default" placeholder="Ex:1673106348" >
            </form>
            <p class="timestamp-form">Suporta timestamps Unix em segundos, milissegundos, microssegundos e nanossegundos.</p>
            <form action="" method="post">
              <input type="button" class="button-timestamp" onclick="" value="Converter">
            </form>
          </article>
        </div>
      </section>
      
      <section class="content-section">
        <h3>Insira a data e hora</h3>
        <div class="data-timestamp">
          
          <div class="input-table">
            <label class="label-input label-ano" for="year">Ano</label>
            <input type="number" name="year" class="input-year input-default" placeholder="YYYY" step="1" maxlength="4">
          </div>
        
          <div class="input-table">
            <label class="label-input label-mes" for="mes">Mês</label>
            <input type="number" name="mes" class="input-mes input-default" placeholder="MM" min="1" max="12" step="1" maxlength="2">
          </div>

          <div class="input-table">
            <label class="label-input label-dia" for="dia">Dia</label>
            <input type="number" name="dia" class="input-dia input-default" placeholder="DD" min="1" max="31" step="1" maxlength="2">
          </div>

          <div class="input-table">
            <label class="label-input label-horas" for="horas">Horas (24 horas)</label>
            <input type="number" name="horas" class="input-horas input-default" placeholder="HH" min="0" max="23" step="1" maxlength="2">
          </div>

          <div class="input-table">
            <label class="label-input label-min" for="min">Minutos</label>
            <input type="number" name="min" class="input-min input-default" placeholder="MM" min="0" max="59" step="1" maxlength="2">
          </div>

          <div class="input-table">
            <label class="label-input label-seg" for="seg">Segundos</label>
            <input type="number" name="seg" class="input-seg input-default" placeholder="SS" min="0" max="59" step="1" maxlength="2">
          </div>
        </div>
        <input type="button" class="button-timestamp button-default-data" onclick="" value="Converter ">
        
      </section>
    </main>
    <div class="footer-time">
      <footer class="rodape">
        Copyright &copy 2022 
      </footer>
    </div>
  </div>
</body>
</html>
