body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DFE0D2;
    
}

.header-content{
    background-image: url(image/pexels-thisisengineering-3861972.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.text-img{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.text-img h1{
    text-transform: uppercase;
    font-size: 38px;
    text-shadow: 3px 3px 5px #333;
}

.nav-li{
    list-style: none;
    display: inline-block;
    border: 1px solid white;
    margin-left: 5px;
}

.nav-a{
    background: rgba(0, 0, 0, 0.13);
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    transition: .3s linear;
}

.nav-ul{
    text-align: right;
    margin: 20px 50px 0px 0px;
}

.nav-a:hover{
    background-color:  rgba(0, 0, 0, 0.514);

}

.main-content{
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.377);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
}

p{
    margin: 0 0 2em;
    line-height: 30px;
}

.table{
    width: 70%;
    margin: 0 0 2em 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

table{
    border-collapse:collapse;
}
table,th,td{
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 20px;
}

th{
    background-color: rgb(245, 245, 245);
}

.align-h2{
    text-align: center;
    margin-bottom: 90px;
    margin-top:80px;
}

h3{
    font-size: 15px;
    margin-bottom: 25px;
}

.timestamp{
    padding: 5px;
    margin-bottom: 2px;
    border: 1px solid #DEDEDE;
}


.div-time p{
    font-size: 15px;
    width: 40%;
    color: rgb(114, 114, 114);
    margin-bottom: 5px;
}

.button-timestamp{
    margin-top: 10px;
    padding: 5px;
    color: white;
    background-color: #1358ab;
    border: 2px solid #1358ab;
    border-radius: 4px;
    padding: 8px;
    font-size: 15px;
}

.input-table{
    display: inline-block;
}

.label-input{
    font-size: 15px ;
}

.label-ano{
    margin-left: 10px;
}

.label-mes{
    margin-left: 10px;
}

.label-dia{
    margin-left: 10px;
}

.label-horas{
    margin-left: 15px;
}

.label-min{
    margin-left: 10px;
}

.label-seg{
    margin-left: 10px;
}

div.data-timestamp{
    margin-left: 100px;
}

.button-default-data{
    margin-top: 20px;
}

.input-default{
    padding: 5px;
    margin-bottom: 2px;
    border: 1px solid #DEDEDE;
    transition: .5s;
}

.input-default:hover{
    border: 1px solid dodgerblue;
}

.input-default:focus{
    outline: 0;
}

.footer-time{
    color:black;
    text-align: center;
    font-family:0.8em ;
    margin: auto;
    
}
